name = "writeo-web"
main = ".open-next/worker.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat", "global_fetch_strictly_public"]
workers_dev = false

routes = [{ pattern = "writeo.tre.systems/*", zone_name = "tre.systems" }]

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[vars]
API_BASE_URL = "https://writeo-api-worker.rob-gilks.workers.dev"
